{% block title %} Billet simple pour l'Alaska {% endblock %}

{% extends '/frontend/template.twig' %}

{% block content %}
    <main class="white-background">
        <h2 class="no-margin general-padding">Liste des articles</h2>
        {% for article in articles %}
            <article class="paragraph-design">
                <h3 class="title-design no-margin general-padding">
                    {{ article.title }}
                    le {{ article.create_date_fr }}
                    par {{ article.author }}
                </h3>
                <p class="general-padding no-margin article-font">
                    {{ article.content | nl2br }}
                </p>

                <div class="display-flex general-padding space-btw bg-bar">
                    <a href="index.php?action=post&amp;id={{ article.id }}#article">Afficher l'article</a>
                    {% if session.pseudo is defined and session.group_id == 1 %}
                        <a href="index.php?action=modify&amp;id={{ article.id }}">Modifier l'article</a>
                        <a href="index.php?action=deletePost&amp;id={{ article.id }}&amp;postId={{ article.id }}">Supprimer l'article</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </main>

{% endblock %}