{% block title %} Billet simple pour L'alaska - Modération {% endblock %}

{% extends '/backend/template.twig' %}

{% block content %}
    <main role="main" class="white-background">
        <h2 class="general-padding">Modération du site</h2>
        <p class="general-padding no-margin"><a href="index.php">Retour à la liste des billets</a></p>
        <h3 class="general-padding  no-margin">Liste des commentaires signalés:</h3>
        {% for comment in comments if comment.comment_report == 1 %}
            <article class="paragraph-design comment-design">
                <h4 class="title-design no-margin general-padding"><b>{{ comment.author }}</b> le {{ comment.comment_date_fr }}</h4>
                <p class="general-padding no-margin">{{ comment.comment }}</p>
                <div class="text-center bg-bar general-padding">
                    <a href="index.php?action=deleteComment&amp;id={{ comment.id }}" class="text-right">Supprimer ce commentaire</a>
                    <span> | </span>
                    <a href="index.php?action=report&amp;report=0&amp;id={{ comment.id }}&amp;postid={{ comment.post_id }}" class="text-right">Autoriser ce commentaire</a>
                </div>
            </article>
        {% else %}
            <p class="general-padding no-margin">Il n'y a pas de commentaire(s) signalé(s)</p>
        {% endfor %}
    </main>
{% endblock %}
